<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">LEARN MORE</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Ministry</h2>
                </header>
                <p>{{ content }}</p>
                <section>
                  <h3>Sunday Schedule</h3>
                <ul class="actions">
                  <li><b>Sunday School:</b> 9:30am</li>
                  </br>
                  <li><b>Worship Service:</b> 10:45am</li>
                  </br>
                  <li><b>Awana:</b> 6:00pm</li>
                  </br>
                  <li><b>Youth Group:</b> 6:00pm</li>
                </ul>
                </section>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
